@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');


/*===== VARIABLES CSS =====*/
:root {
	/*========== COLORS ==========*/
	/* --first-color: hsl(337, 62%, 58%); */
	--first-color: hsl(337, 100%, 65%);
	--first-color-second: hsl(337, 69%, 61%);
	--first-color-alt: hsl(337, 57%, 53%);
	--first-color-lighter: hsl(337, 69%, 61%);
	--first-color-lighter-dark: hsl(337, 8%, 15%);
	--title-color: hsl(20, 8%, 15%);
	--text-color: #7c706a;
	--text-color-light: #ada39f;
	--body-color: #fefcfb;
	--white-color: white;
	--black-color: black;

	/*========== FONT & TYPORGRAPHY ==========*/
	/* --body-font: 'Poppins', sans-serif; */
	/* --body-font: 'Roboto Mono', monospace; */
	/* --body-font: 'Gideon Roman', cursive; */
	/* --body-font: 'Lora', serif; */
	--title-font: 'Poppins', sans-serif;
	--body-font: 'PT Serif', serif;
	--biggest-font-size: 4rem;
	--bigger-font-size: 3rem;
	--big-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
	--normal-font-size: .938rem;
	--small-font-size: .813rem;
	--smaller-font-size: .75rem;

	/*========== FONT WEIGHT ==========*/
	--font-500: 500;
	--font-600: 600;
	--font-700: 700;
	--font-800: 800;

	/*========== MARGINS ==========*/
	--mb-0-25: 0.25rem;
	--mb-0-5: 0.5rem;
	--mb-0-75: 0.75rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	--mb-2-5: 2.5rem;
	--mb-3: 3rem;

	/* Date range items gap */
	--date-gap: 0.1em;

	/*========== Z INDEX ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 1000;
}

/*========== FONT SIZE FOR LARGER SCREENS ==========*/

@media screen and (min-width: 968px) {
	:root {
		--biggest-font-size: 5rem;
		--bigger-font-size: 4rem;
		--big-font-size: 3rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: .875rem;
		--smaller-font-size: .813rem;
	}
}

/*========== BASE ==========*/

*, ::before, ::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0 0 var(--header-height) 0;
	background-color: var(--body-color);
	font-size: var(--normal-font-size);
	color: var(--black-color);
	font-family: var(--body-font);
	counter-reset: count;
}

.counter-reset {
	counter-reset: page 1;
}

::-moz-selection {
	background: hsl(var(--hue-color), 50%, 80%);
	color: white;
}

::selection {
	background: hsl(var(--hue-color), 50%, 80%);
	color: white;
}

h1, h2, h3, ul, p {
	margin: 0;
}

h1, h2, h3 {
	color: var(--title-color);
	font-weight: var(--font-medium);
}

h4 {
	font-weight: var(--font-medium);
	font-size: var(--h1-font-size);
	color: var(--text-color-light);
	margin: var(--mb-1-5) 0 0;
}

ul {
	padding: 0;
}

li {
	list-style: circle;
	margin-left: var(--mb-2);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.avoid-break-inside {
	display: block !important;
	/* never user flex with page-break */
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}

.avoid-break-inside-column {
	display: block !important;
	/* never user flex with page-break */
	-webkit-column-break-inside: avoid-column;
	page-break-inside: avoid-column;
	break-inside: avoid-column;
}

/*========== CLASS CSS ==========*/
.section {
	padding: 2rem 0 4rem;
}

header {
	position: relative;
	font-size: var(--h1-font-size);
	font-family: var(--title-font);
	color: var(--title-color);
	font-weight: var(--font-600);
	text-align: center;
	margin-bottom: var(--mb-1-5);
	width: fit-content;
	counter-increment: count;
}

header::before {
	content: counter(count)'. ';
}

header::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	border-radius: 1rem;
	bottom: -.5rem;
	left: 0;
	background-color: var(--first-color-alt);
}

/*========== LAYOUT ==========*/
.main {
	padding: var(--mb-1);
}

.grid {
	display: -ms-grid;
	display: grid;
	gap: var(--mb-1-5);
}

.container {
	/* max-width: 968px; */
	max-width: 1024px;
	width: calc(100% - 3rem);
	margin-left: var(--mb-1-5);
	margin-right: var(--mb-1-5);
}

article {
	display: grid;
	gap: var(--mb-0-5);
}

.article-container {
	gap: var(--mb-2-5);
}

.article__title {
	font-size: var(--h2-font-size);
	font-weight: var(--font-600);
}

.article__subtitle {
	font-size: var(--h3-font-size);
	font-weight: var(--font-500);
	color: #ADACA7 !important;
}

.article__description {
	margin-top: var(--mb-1);
	margin-bottom: var(--mb-0-5);
}

.article__date {
	font-style: oblique;
	color: #ADACA7 !important;
	display: flex;
	align-items: center;
	column-gap: var(--date-gap);
}

.article__date .duration {
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
	-webkit-print-color-adjust: exact;
	text-align: center;
	font-size: var(--small-font-size);
	width: fit-content;
	border-radius: 0.3em;
	color: white;
	background-color: var(--first-color-lighter-dark);
	padding: .5em;
}

.article__text {
	color: var(--black-color);
	font-size: var(--font-500);
}

.article__list .list__label {
	font-weight: var(--font-500);
	color: var(--black-color);
}

.article__list {
	margin: var(--mb-0-5) 0;
}

/*========== HOME SECTION ==========*/
.profile__img {
	margin: auto;
	display: block;
	margin-bottom: var(--mb-1);
	border-radius: .1rem;
	-webkit-border-radius: .1rem;
	-moz-border-radius: .1rem;
	-ms-border-radius: .1rem;
	-o-border-radius: .1rem;
}

.home__title {
	font-size: var(--h2-font-size);
	color: var(--black-color);
	font-weight: var(--font-600);
}

.home__subtitle {
	font-weight: var(--font-500);
	margin-bottom: var(--mb-0-5);
}

.home__url a,
.article__url a {
	color: var(--black-color);
}

.home__mail a,
.home__url a {
	color: var(--first-color);
}

.home__url,
.home__mail,
.home__phone {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: var(--mb-1);
	margin: var(--mb-0-25) 0;
}

.home__title,
.home__subtitle,
.home__description {
	text-align: center;
}

.home__title,
.home__subtitle {
	font-family: var(--title-font);
}

/*========== REFERENCE SECTION ==========*/
.references__description {
	margin: 0;
}

.skills .article-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
	row-gap: 2rem;
	align-items: center;
}

/*========== PROFILE SECTION ==========*/
.profiles .article-container {
	flex-direction: row;
	display: flex;
	gap: var(--profiles-icon-gap);
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: center;
}

.profiles .icon {
	font-size: 1.5em;
	color: var(--first-color-lighter);
}

/* SCROLLBAR */
::-webkit-scrollbar {
	width: 10px;
}

/* SCROLLBAR THUMB */
::-webkit-scrollbar-thumb {
	background: hsl(337, 51%, 28%);
	border-radius: 10px;
}

/* SCROLLBAR TRACK */
::-webkit-scrollbar-track {
	background: transparent;
}

/* SCROLLBAR THUMB : HOVER */
::-webkit-scrollbar-thumb:hover {
	background: hsl(337, 41%, 38%);
}


/*========== MEDIA QUERIES ==========*/
@media screen {
	.margin-box {
		display: none;
	}

	body {
		line-height: var(--layout-default-line-height);
		margin: 0;
	}

	.article-container.two-column article {
		margin-bottom: var(--article-row-gap);
	}
}

@media screen and (max-width: 330px) {
	.main {
		padding: var(--mb-1) 0;
	}

	.container {
		/* margin-left: var(--mb-1); */
		margin-right: var(--mb-1);
	}
}

@media screen and (max-width: 768px) {

	.with-header-date-logo .article__date,
	.with-header-date .article__date {
		margin-bottom: .5rem;
	}
}

@media print, screen and (min-width: 786px) {
	.main {
		margin: auto;
	}

	.main-wrapper,
	.basics {
		display: grid;
		grid-template-columns: 1fr .6fr;
		column-gap: 5rem;
	}

	.article__wrapper {
		color: #ADACA7;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	header,
	.home__title,
	.home__subtitle,
	.home__description {
		text-align: initial;
	}

	.home__url,
	.home__mail,
	.home__phone {
		justify-content: initial;
	}

	.profile__img {
		order: 1;
		height: 300px;
		width: 300px;
		margin-right: 5rem;
		margin-bottom: 0;
		border-radius: .1rem;
		-webkit-border-radius: .1rem;
		-moz-border-radius: .1rem;
		-ms-border-radius: .1rem;
		-o-border-radius: .1rem;
	}

	.home__title {
		font-size: var(--h1-font-size);
	}

	.home__subtitle {
		font-size: var(--h2-font-size);
	}

	.article__date {
		gap: 0.5rem;
	}

	.article__date .date {
		flex-direction: column;
	}
}

/*~~~~~~~~~~~~~ print ~~~~~~~~~~~~~*/
@media print {

	.profiles,
	.basics {
		display: none;
		user-select: none;
	}

	.pagedjs_margin {
		font-size: var(--print-margin-font-size);
	}

	/* main margin boxes */
	.footer-print {
		position: running(footerRunning);
	}

	.user-compact-print {
		position: running(userCompactRunning);
	}

	.last-update-print {
		position: running(lastUpdateRunning);
	}

	.available-from-print {
		position: running(availableFromRunning);
	}

	@page {
		size: A4;

		@top-right {
			content: element(lastUpdateRunning);
		}

		@top-left {
			content: element(userCompactRunning);
		}

		@bottom-right {
			content: counter(page);
		}

		@bottom-left {
			content: element(footerRunning);
			width: 40mm;
		}

		@bottom-center {
			content: element(availableFromRunning);
		}
	}

	/* table of contents */
	@page table-of-contents {
		@top-right {
			content: none;
		}

		@top-left {
			content: none;
		}

		@bottom-right {
			content: none;
		}

		@bottom-left {
			content: none;
		}
	}

	.table-of-contents {
		page: table-of-contents;
	}

	.toc-header {
		margin-bottom: 1rem;
		border-bottom: 0.375rem solid black;
	}

	ol, ul {
		padding-inline-start: 0;
	}

	ol, ul a {
		text-decoration: none;
	}

	.toc-element-level-1 {
		font-size: 0.5cm;
	}

	.toc-element-level-2 {
		font-size: 0.4cm;
	}

	.toc-element-level-1 a, .toc-element-level-2 a {
		color: black;
	}

	#list-toc-generated li {
		margin-left: 0;
		width: 100%;
		list-style-type: none;
	}

	#list-toc-generated .toc-element a::after {
		content: target-counter(attr(href), page);
	}

	#list-toc-generated .toc-element-level-1 {
		border-bottom: 0.0625rem solid black;
		margin-top: 2rem;
		margin-bottom: 1rem;
		padding-bottom: 0.5rem;
		font-weight: bold;
	}

	#list-toc-generated {
		overflow-x: hidden;
	}

	#list-toc-generated .toc-element a {
		display: flex;
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
	}

	#list-toc-generated .toc-element a::after {
		background-color: white;
	}

	.page-break {
		break-after: page;
	}

	/* cover */
	@page: first {

		@top-right {
			content: none;
		}

		@top-left {
			content: none;
		}

		@bottom-right {
			content: none;
		}

		@bottom-left {
			content: none;
		}
	}

	.cover-page .main-skills {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 4mm;
	}

	.cover-page .main-skills ul {
		display: flex;
		flex-direction: row;
		gap: 0.5cm;
		margin: 0;
		padding: 0;
	}

	.cover-page .main-skills .list__label {
		font-size: var(--big-font-size);
		text-align: center;
		font-weight: var(--font-600);
	}

	.cover-page .main-skills li {
		list-style-type: none;
		margin: 0;
		padding: 0;
		font-size: var(--normal-font-size);
	}

	.cover-page {
		page: cover-page;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		align-content: center;
		gap: 2cm;
		font-family: var(--second-font);
	}

	.cover-page__main-skills {
		display: flex;
		flex-direction: row;
	}

	.cover-page h1 {
		font-size: var(--biggest-font-size);
		font-family: var(--body-font);
	}

	.cover-page h3 {
		margin: -.75rem 0 .5rem;
		font-weight: var(--font-500);
	}

	.cover-page .cover-page__contact {
		font-size: var(--normal-font-size);
	}

	.cover-page .picture {
		text-align: center;
	}

	.cover-page__header {
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: 3mm;
		margin-top: 6rem;
	}

	.cover-page__header .picture img {
		width: 10cm;
		height: auto;
		border-radius: 50%;
	}

	.cover-page__contact {
		font-size: 10pt;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.7cm;
		margin-top: 1rem;
	}

	.cover-page__social {
		display: flex;
		flex-direction: row;
		gap: 2em;
	}

	.cover-page__social .icon {
		font-size: 16pt;
	}

	.cover-page__header .summary {
		text-align: center;
		margin-top: 0.5em;
	}

	/* availability */
	.available-from-print .icon {
		margin-top: 1.5mm;
		margin-left: 1.5mm;
		font-size: 2mm;
		position: absolute;
	}

	.available-from-print.now-available-yes i {
		color: green;
	}

	.available-from-print.now-available-no i {
		color: red;
	}
}

/*======================================== INTERACTIVE ========================================*/
.INTERACTIVE .nav-add {
	margin-top: 1em;
	margin-bottom: 2em;
}

.INTERACTIVE .profiles article {
	padding: 2em 0;
}

.INTERACTIVE .profiles .article-container {
	display: flex;
	flex-direction: column;
}

html:not(.INTERACTIVE) .profiles article .profile-item {
	display: inline-block;
}

/*========== ICONS ==========*/
.icon {
	font-style: normal;
	margin-right: 0;
	width: 0.6em;
	color: var(--icon-color);
}

.icon.twitter:before {
	content: "\f099";
}

.icon.github:before {
	content: "\f09b";
}

.icon.facebook:before {
	content: "\f39e";
}

.icon.instagram:before {
	content: "\f16d";
}

.icon.xing:before {
	content: "\f168";
}

.icon.behance:before {
	content: "\f39e";
}

.icon.dribbble:before {
	content: "\f17d";
}

.icon.medium:before {
	content: "\f23a";
}

.icon.linkedin:before {
	content: "\f08c";
}